body{
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}
.kontakt{
    font-style: normal;
}
.mail{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.kontakt :hover, 
.kontakt :focus{
    color:#404bbf;
}




.section-kopf {
    background-color: #2E2F42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.fon-section{
    border:1px solid blue;
    position: absolute;
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;
    background: #F4F4FD;
}

.tema {
    color: 
    #FFFFFF;
}
.logo-one {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height:  1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-two {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.one-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
}
.team{
    background-color:
    #F4F4FD ;
}

.footer {
    background-color:#2E2F42 ;
}
.text {
    color: #E7E9FC;
}
.page {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-one {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;
    order: 1;
    flex-grow: 0;
}










.logo-three {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-four {
    font-family: "Raleway";
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;

}
.two-button {
    color: #FFFFFF ;
    background-color:#404BBF ;
    border: radius 4px;
}
.three-button {
    color:  #4D5AE5;
    background-color: #E7E9FC;
    border: radius 4px;
}
.four-button {
    color:  #4D5AE5;
    background-color: #E7E9FC;
    border: radius 4px;
}
.five-button {
    color:  #4D5AE5;
    background-color: #E7E9FC;
    border: radius 4px;
}
.six-button {
    color:  #4D5AE5;
    background-color: #E7E9FC;
    border: radius 4px;
}
.foter-text {
    color:#2E2F42;
}
.text-w {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.page-two {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text-two {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}